@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
@import url(reset.css);
img { vertical-align: bottom; }
ul{list-style-type: none;
}

html{scroll-behavior: auto;}

@font-face{
    font-family: "Marker Felt";
    src: url("../font/Marker Felt.ttf") format("ttf");
}

/* PC */
@media only screen and (min-width:960px) {
	
/*---------------Scroll Animation-------------------*/		
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
	
.reveal.left{
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.right{
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.right1{
  position: relative;
  transform: translateX(300px);
  opacity: 0;
  transition: 1s all ease;	transition-delay: 1.5s;
}	
.reveal.right2{
  position: relative;
  transform: translateX(450px);
  opacity: 0;
  transition: 1s all ease;	transition-delay: 1s;
}
.reveal.right3{
  position: relative;
  transform: translateX(600px);
  opacity: 0;
  transition: 1s all ease;
	transition-delay: 0.5s;
}

.reveal.right4{
  position: relative;
  transform: translateX(750px);
  opacity: 0;
  transition: 1s all ease;
}
	
	
.reveal.left.active, .reveal.right.active,.reveal.right1.active,.reveal.right2.active,.reveal.right3.active,.reveal.right4.active{
  transform: translateX(0);
  opacity: 1;
}
		
	

/*---------------Firstview-------------------*/
    
.wrapper{
        width: 100%;
        height: auto; 
        background-color: #18171D;
    overflow: hidden;
    }
    
.firstview{
        height: 100vh;
        width: auto;
        position: relative;
        background-image: url("../images/bone_back.svg");
        background-size: 12vw 18vh;
        }

header{
        position: absolute;
        left: 5%;
        width: 95%;
        top: 2%;
        display: flex;
        align-items: center;
        justify-content: space-between;}
    
    
    .mainlogo{
        display: flex;
        align-items: center;}
    
    .mainlogo img{
        width: 9vh;
        
    }
    .logoname{
        font-family: "Marker Felt";
        color: white;
        font-size: 2.2vw;
        padding-left: 10px;
        letter-spacing: 0.2rem;
    }
    
    .drawer{
        width: 40%;
        position: absolute;
        right: 5%;
        z-index: 1;
    }
    
    .drawer ul{
        width: auto;
        display: flex;
        justify-content: space-between;

    }
    
    .drawer ul li{
        justify-content: center;
        align-items: center;overflow:visible;
    }
    
    .drawer ul li.line{
        padding-right: 3%;
    }
    
    .drawer ul li a{
        text-decoration: none;
        color: white;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }
    
    .drawer ul li a:before{
        content: '';
        position: absolute;
       background: url("../images/bone.svg") center center / 12vh no-repeat;
        width: 10vw;
        height: 10vh;top: 50%;
        left: 50%; transform: translate(-50%, -50%);
        z-index: -1;
        transition: all 1s ease;
        opacity: 0;
    }
    
    .drawer ul li a:hover:before{
        content: '';
        position: absolute;
        background: url("../images/bone.svg") center center / 12vh no-repeat;
        top: 50%;
        left: 50%; transform: translate(-50%, -50%);
        z-index: -1;
        opacity: 0.5;
    }
    
    .drawer ul.main_nav li:last-child{
        margin-left: -40px;
    }
    
    .drawer .main_nav li:last-child a:before{
        opacity: 0;
    }
    
    .line span{
        background-color: white;
        transform: rotate(90deg);
        padding: 1px;
    }
    
    .main_text{
        color: white;
        position: absolute;
        top: 35%;
        left: 5%;
    }
    
    .main_text h1{
        font-family: "Marker Felt";
        letter-spacing: 0.3rem;
        font-size: 2.5vw;
        font-weight: 100;
    }
    
    .main_text h2{
        font-family: "Nunito";
        letter-spacing: 0.1em;
        font-size: 1vw;
        font-weight: 500;
        width: 55%;
        line-height: 1.2;
        margin-top: 2%;
    }
    
    .main_text .pp_btn{
        margin-top: 20px;
        background: url("../images/pawpaper1.svg") -20px center / cover no-repeat;
        width: 13vw;
        height: 13vh;
        transition: all 0.8s ease;
    }
    
    .main_text .pp_btn:hover{
        background: url("../images/pawpaper2.svg") -20px center / cover no-repeat;
         width: 13vw;
        height: 13vh;
    }
    
    .main_text .pp_btn img{
width: 20vh;
    }
    
    .sns_logos{
        position: absolute;
        bottom: 3%;
        left: 5%;
    }
    
    .sns_logos img{
	    width: 2vw;
	    height: 2vh;
	    margin: 5px;
        transition: all 0.4s ease;
   
    }
    
    .sns_logos img:hover{
       transform: scale(1.5);
    }

    
    .main_imgs .coin1{
         width: 20vh;
        position: absolute;
        right:24%;
        top: 15%;
        animation: float 5s ease-in-out infinite;
        opacity: 0;
        animation-delay: 5.5s;
    }
    
     .main_imgs .coin2{
          width: 13vh;
        position: absolute;
        right:40%;
        top: 38%;
         animation: float 4s ease-in-out infinite;
         opacity: 0;
         animation-delay: 5s;
    }
    
     .main_imgs .coin3{
          width: 10vh;
        position: absolute;
        right:26%;
        bottom: 39%;
        animation: float 3s ease-in-out infinite;
        opacity: 0;
         animation-delay: 4.5s;
    }
    
    .main_imgs .paws{
        width: 65vh;
        position: absolute;
        right:0%;
        bottom: 8%;
        opacity: 0.5;
        display: none;
    }
    
    .main_imgs::before{
	content: "";
	width: 100vh;
    height: 100vh;
	background: radial-gradient(rgba(242,181,120,.18), transparent 70%);
	position: absolute;
	top: 45%;
	left: 65%;
	transform: translate(-50%, -50%);
	z-index: 0;
        animation: appear2 10s ease-in-out;
}

    .pawswrap .paw1{
        position: absolute;
        width: 6vh;
        right: 0;
        bottom: 8%;
        animation: appear 1s ease-in-out ;
    }
    
    .pawswrap .paw2{
        position: absolute;
        width: 6vh;
        right: 3%;
        bottom: 17%;
        animation: appear 2s ease-in-out;
    }
    
    .pawswrap .paw3{
        position: absolute;
        width: 6vh;
        right: 10%;
        bottom: 17%;
        animation: appear 3s ease-in-out ;
    }
    
    .pawswrap .paw4{
        position: absolute;
        width: 6vh;
        right: 13%;
        bottom: 26%;
        animation: appear 4s ease-in-out ;
    }
    
    .pawswrap .paw5{
        position: absolute;
        width: 6vh;
        right:19%;
        bottom: 20%;
        animation: appear 5s ease-in-out ;
    }
    
    .pawswrap .paw6{
        position: absolute;
        width: 6vh;
        right: 25%;
        bottom: 25%;
        animation: appear 6s ease-in-out;
    }
    
    .pawswrap .paw7{
        position: absolute;
        width: 6vh;
        right: 30%;
        bottom: 19%;
        animation: appear 7s ease-in-out;
    }
    
    .pawswrap .paw8{
        position: absolute;
        width: 6vh;
        right: 37%;
        bottom: 25%;
        animation: appear 8s ease-in-out;
    }
    
    .to_top{
        position: fixed;
	bottom: 3%;
	right: 60px;
        display: block;
        z-index: 101;
    }
    
    .to_top a{
    text-decoration: none;
    font-size: 1vw;
	color: white;
	font-family: 'Nunito';
    letter-spacing: 0.2em;
    font-weight: 600;
    
    }
    
    .firstview .to_top.hide {
        display: none;
        }
    
    .coin_sp,.drawer_top,.drawer_logos, .drawer_bone{
        display: none;
    }
    
   
    
    /*---------------About Us-------------------*/
    
    
    .about_us{
        background-color: #1F1E28;
        min-height: 100vh;
        width: auto;
    }
    
    .about_us_cont{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
    }
    
    .subtitles{
        font-family: "Marker Felt";
        color: white;
        font-size: 3vw;
        padding-left: 10px;
        letter-spacing: 0.2rem;
        padding-top: 80px;
        text-align: center;
        font-weight: 100;
        position: relative;
        z-index: 1;
        
    }
    
    .subtitles.about_us_tit::before{
    content: "";
	width: 2vw;
    height: 2vw;
	background: url("../images/paw.svg") center center / cover no-repeat;
	position: absolute;
	top: 80%;
	left: 44.7%;
    z-index: -1;
    transform: rotate(-45deg);
    }
    
    .subtitles img{
        width: 4vw;
        height: auto;
        position: absolute;
        
    }
    
    
    .about_img img{
        width: 30vw;
	    height:auto;
    }
    

    
    .about_txt{
        color: white;
        font-family: "Nunito";
        width: 50vh;
        line-height: 1.8;
        font-size: 1.3vw;
        padding-left: 3%;
        text-align: justify;
        position: relative;
        padding-bottom: 100px;
    }
    
    .about_text_img{
        width: 30vh;
        position: absolute;
        top: auto;
        bottom: 0px;
        right: -30px;
        opacity: 0.8;
    }
    
    
     /*---------------Features-------------------*/
    
    
    .features{
        min-height: 100vh;
        width: auto;
        background-image: url("../images/bone_back.svg");
        background-size: 12vw 18vh;
    }
    
    
    
    .subtitles.features_tit::before{
    content: "";
	width: 2vw;
    height: 2vw;
	background: url("../images/paw.svg") center center / cover no-repeat;
	position: absolute;
	top: 80%;
	left: 55.5%;
    z-index: -1;
    transform: rotate(45deg);
    }
    
    
    .features_wrap{
        display: flex;
        margin-top: 5%;
        justify-content: space-around;
    }
    
    .features_element{
        width: 22vw;
        text-align: center;
        color: white;
        background-color: #1F1E28;
        border-radius: 40px;
        position: relative;
        padding-bottom: 20px;
		
    }
    
    .feature_paw{
        flex: 1;
        width: 7vh;
        position: absolute;
        left: 50%;
        top: -30px;
        transform: translate(-50%);
    }
    
    .feat_tit{
        font-family: "Marker Felt";
        padding: 20% 0 10% 0;
        font-size: 1.8vw;
        font-weight: 100;
        letter-spacing: 0.1em;
    }
    
    .feat_cont{
        padding: 0 10%;
        text-align: justify;
        line-height:2;
        font-family: "nunito";
        font-weight: 100;
        font-size: 1.2vw;
    }
    
    /*---------------Quick Guide-------------------*/
    
    
    
    .quick_guide{
        min-height: 100vh;
        width: auto;
         background-color: #1F1E28;
    }
    
    
     .subtitles.quickguide_tit::before{
    content: "";
	width: 2vw;
    height: 2vw;
	background: url("../images/paw.svg") center center / cover no-repeat;
	position: absolute;
	top: 80%;
	left: 41%;
    z-index: -1;
    transform: rotate(-45deg);
    }
    
    .qg_wrap{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    
    .qg_element{
        width: 90vw;
        margin-top: 3%;
        display: flex;
        justify-content: center;
    }
    
    .qg_element .qg_img1{
        width: 3vh;
        margin-right: 3%;
    }
    
       .qg_element .qg_img{
        width: 6vh;
        margin-right: 3%;
    }
    
    .qg_cont{
        width: 70%;
    }
    
    .qg_cont h1{
        color: white;
        font-family: "Marker Felt";
        font-size: 2vw;
        font-weight: 100;
        letter-spacing: 0.1em;
        margin: 2% 0;
    }
    
    .qg_cont p{
        font-size: 1.2vw;
        color: white;
        font-family: "nunito";
        font-weight: 100;
        line-height: 1.5;
    }
    
      /*---------------How to buy-------------------*/
    
    
    .how_to_buy{
        min-height: 100vh;
        width: auto;
        background-image: url("../images/bone_back.svg");
        background-size: 12vw 18vh;
    }
    
    .subtitles.howtobuy_tit::before{
    content: "";
	width: 2vw;
    height: 2vw;
	background: url("../images/paw.svg") center center / cover no-repeat;
	position: absolute;
	top: 80%;
	left: 57%;
    z-index: -1;
    transform: rotate(45deg);
    }
    
        .how_to_buy_cont{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5%;
    }
    
	.how_to_buy_img{
		z-index: 5;
	}
	
    .how_to_buy_img img{
        width: 60vh;
		
    }
    
    .how_to_buy_txt{
        color: white;
        font-family: "Nunito";
        width: 50vh;
        line-height: 1.8;
        font-size: 1.3vw;
        padding-right: 3%;
        text-align: justify;
        position: absolute;
		z-index: 4;
		transition: 2s;

    }
    
    .how_to_buy_txt .buy_btn{
        margin-top: 20px;
        background: url("../images/buy_btn1.svg") -20px center / cover no-repeat;
        width: 13vw;
        height: 13vh;
        transition: all 0.8s ease;
		
    }
    
    .how_to_buy_txt .buy_btn:hover{
        background: url("../images/buy_btn2.svg") -20px center / cover no-repeat;
         width: 13vw;
        height: 13vh;
    }
    
    .how_to_buy_txt .buy_btn img{
width: 20vh;
       
    }
	
	
	.buying_platform{
		width: 60vw;
		min-height: 70vh;
		background-color: transparent;
		z-index: 2;
        justify-content: space-around;
		transition: all 1s ease-in;
        display: flex;
        position: absolute;
        opacity: 0;
	}
	
	.swap{
        width: 50%;
		min-height: 70vh;
		 box-shadow: 2px 2px 5px 5px rgba(15,15,15,1.00); 
         background-color: #18171D;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;
        
	}
	
    .swaptxt{
        text-align: center;
        color: white;
    }
    
    .swap_tit{
        font-family: "nunito";
        font-size: 3vw;
        font-weight: 600;
        margin-top: 2%;
        color: white;
        
        
    }
    
    .swap_expl{
        font-family: 'nunito';
        margin-top: 2rem;
        font-size: 1.5vw;
    }
    
    .swap_from, .swap_to{
        color: white;
        font-size: 1.2vw;
        font-weight: 400;
    }
	.exchange_token{
		width: 90%;
		height: 50vh;
		background-color: rgba(122,122,122,.2);
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 20px;
        align-items: center;
	}
	
    .changeto,.changefrom{
        width: 100%;
        display: flex;
        align-items: center;flex-direction: column;
    }
	
    .changeto_tit{
        display: flex;
        width: 90%;
        justify-content: space-between;
        padding: 3% 0;
    }
    
    .Xchange{
        padding: 4%;
        border-radius: 10px;
        border: none;
        width: 90%;
        box-sizing: border-box;
    }
    
    .Xch_btn{
        padding: 4%;
        margin-bottom: 3%;
        width: 60%;
        border-radius: 20px;
        border: none;
        background-color: #F2B578;
        color: white;
        font-size: 1.3vw;
        transition: all 0.4s ease;
    }
    
    .Xch_btn:hover{
        background-color: #DF6F2A;
      
        
    }
    
    
    input[type=text], select, textarea {
  width: 10vw;
  height: auto;
  padding: 1%; 
  border: none;
  box-sizing: border-box; 
  resize: vertical;
  font-family: 'poppins';
  word-wrap: break-word;
  border-radius: 10px;
  background-color: rgba(255,255,255,.1);
        color: white;
}

[contenteditable] {
  outline: 1px solid transparent;
	transition: all 0.4s ease;
}

[contenteditable]:hover{
  outline: 1px solid #F2B578;
}

    input[inputmode=decimal]{
        font-size: 2vw;
        text-align: center;
        background-color: rgba(255,255,255,.05);color: #F2B578;
    }
    .connect_wallet{
        min-height: 70vh;
        background-color: transparent;
        width: 40%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
     
    }
    
    .wallets{
        width: 100%;
         background-color: #18171D;
        border-radius: 20px;
        height: 75%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        box-shadow: 2px 2px 5px 5px rgba(15,15,15,1.00);
    }
    
    .wallets button:last-child{
        margin-bottom: 5%;
    }
    .wallets h1{
          font-family: "nunito";
        font-size: 2vw;
        font-weight: 600;
        margin-top: 2%;
        color: white;
        margin: 2rem 0;
    }
     
      .wallets .block {
  width: 80%;
  border: none;
  background-color: rgba(255,255,255,.1);
  padding: 3% 5%;
  font-size: 1.3vw;
  cursor: pointer;
  text-align: left;
  transition: all 1s ease;
  border-radius: 10px;
    display: flex;
    justify-content: space-between;
          color: white;
          font-family: 'nunito';
}
    
    .block:hover {
  background-color: #F2B578;
  color: black;
}

    .wallets button img{
        width: 3vh;
        height: 3vh;
        position: relative;
    
    }
    
    
    .connect_expl{
        width: 100%;
        height: 20%;
        border-radius: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-shadow: 2px 2px 5px 5px rgba(15,15,15,1.00);
         background-color: #18171D;
    }
    
    
    .connect_expl h1{
        font-family: 'nunito';
        font-size: 1.5vw;
        font-weight: 400;
        color: white;
        margin: 3% 0;
        
    }
    
    .connect_expl p{
        font-family: 'nunito';
        font-size: 1.3vw;
        font-weight: 400;
        color: white;
        margin-bottom: 3%;
        
    }
    
    .connect_expl p a{
        text-decoration: none;
        color: white;
        transition: all 0.4s ease;
    }
    
    .connect_expl p a:hover{
        color: #F2B578;
    }
    
    
    .closebtn{
   /* color:white;*/
    width: 41px;
	height: 41px;
	right: 6%;
	top: 3%;
	z-index:100;
    position: absolute;
    color: #F2B578;
    font-weight: 600;
        cursor: pointer;
    }
    
    .closebtn span:first-child { top: 50%; transform: translate(-50%, 0) rotate(40deg); }
    .closebtn span:last-child {  top: 50%; transform: translate(-50%, 0) rotate(-40deg); }
    
    
    .closebtn span {
	display: block;
	width: 30px;
	height: 2px;
	background-color: #F2B578;
	position: absolute;
	transition: all .4s ease;
	transform: translate(-50%, -50%);
        top: 0;
}

    /*---------------Exchage on-------------------*/
    
    
    
    .exchange{
        min-height: 35vh;
        width: auto;
        background-color: #1F1E28;
    }
    
    
       .subtitles.exchangeon_tit::before{
    content: "";
	width: 2vw;
    height: 2vw;
	background: url("../images/paw.svg") center center / cover no-repeat;
	position: absolute;
	top: 80%;
	left: 47.5%;
    z-index: -1;
    transform: rotate(-45deg);
    }
    
    
    
    .exchangeon_tit{
        margin-bottom: 3%;
    }
    
    .platforms{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    
    .platforms img{
        width: 15vh;
    }
    
   /*---------------Contact us-------------------*/  
    
    
.contact_us{
        width: 100vw;
        height: auto;
 background-image: url("../images/bone_back.svg");
        background-size: 12vw 18vh;
    }
    
     .subtitles.contactus_tit::before{
    content: "";
	width: 2vw;
    height: 2vw;
	background: url("../images/paw.svg") center center / cover no-repeat;
	position: absolute;
	top: 80%;
	left: 57%;
    z-index: -1;
    transform: rotate(45deg);
    }
    
    
    .contactus_tit{
        margin: 5% 0;
    }    
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}

.contact_wrapper{
	width: 40vw;
	align-items: center;
}

.nameemail{
        display: flex;
    justify-content: space-between;
    }
    
input[type=text], textarea {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 40vw;
    height: auto;
    padding: 2%; 
    border: none;
    box-sizing: border-box; 
    resize: vertical;
    font-family: 'nunito'; 
    word-wrap: break-word;
	margin:0.5% 0 3% 0;
    border-radius: 5px;
}

input[name="name"]{
	width: 19vw;
} 
    
input[name="email"]{
	width: 19vw;
}  
    
[contenteditable] {
  outline: 1px solid transparent;
	transition: all 0.4s ease;
}

[contenteditable]:hover{
  outline: 1px solid #F2B578;
}


 ::placeholder { 
  color: #F2B578;
  opacity: 1; 
     letter-spacing: 0.1em;
}
    
.send_btn{
    margin-top: 3%;
	display: flex;
	width: 40vw;
	justify-content: center;
	align-items: center;
}
    
    input[type=image]{
        width: 8vw;
    }
    
    /*---------------Footer-------------------*/  
    
    footer{
        margin-top:5%;
        width: 100%;
        height: auto;
    }
    
    .footerwrap{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .footer_nav ul{
        display: flex;
        width: 50vw;
        
    }
    .footer_nav ul li{
          flex:1;
    }
    
    .footer_nav ul li a{
        text-decoration: none;
        color:white;
        font-size: 1vw;
        font-family: 'nunito';
    z-index: 1;
    transition: all 0.4s ease;}
    
    
    
    .footer_nav ul li a:hover{
        color: #F2B578;
        
    }

    
    .footer_logos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .footer_logos img{
        width: 2vw;
        height: 2vh;
        padding: 1%;
        margin-top: 3%;
        transition: all 0.4s ease;
    }
    
    .footer_logos img:hover{
           transform: scale(1.5);
    }
    
    .footer_mid_cont{
        margin-top: 3%;
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    
    .copyright{
        color: white;
        margin: 3% 0;
        font-family: "Marker Felt";
        font-weight: 100;
        letter-spacing: 0.2em;
    }
    
    .sub_cont{
        width: 40%;
        color: white;
    }
    
input[name="footer_sub"]{
	width: 100%;
    height:3vh;
} 
    
    .footer_sub_tit{
        font-size: 1.5vw;
        font-family: "Marker Felt";
        letter-spacing: 0.2em;
        font-weight: 100;
        padding-bottom: 3%;
    }
    
    .footer_sub_txt{
        width: 100%;
        text-align: justify;
        line-height: 1.5;
        font-size: 1vw;
        padding-top: 3%;
    }
    
    
    .companyinfo{
        color: white;
        display: none;
    }
    
    .footer_mid_cont .logo_footer{
        display: flex;
        flex-direction:column;
    }
    
    .logo_foot_img{
        display: flex;
        align-items: center;
    }
    
}

.logo_footer{
    display: flex;
    justify-content: center;
    
}

#pawswrap img{
    opacity:0;
}

@keyframes float {
	0% {opacity: 1;
		transform: translatey(0px);
	}
	50% {opacity: 1;
		transform: translatey(-20px);
	}
	100% {opacity: 1;
		transform: translatey(0px);
       }}
       

@keyframes appear2{
    0% {opacity: 0;}
    100%{opacity: 1;}
    
}

@keyframes appear{
    100% {opacity: 1;}
    
}
#pawswrap img {
	animation: appear .5s forwards;
}
#pawswrap img:nth-child(1) {
	animation-delay: .5s;
}
#pawswrap img:nth-child(2) {
	animation-delay: 1s;
}
#pawswrap img:nth-child(3) {
	animation-delay: 1.5s;
}
#pawswrap img:nth-child(4) {
	animation-delay: 2s;
}
#pawswrap img:nth-child(5) {
	animation-delay: 2.5s;
}
#pawswrap img:nth-child(6) {
	animation-delay: 3s;
}
#pawswrap img:nth-child(7) {
	animation-delay: 3.5s;
}
#pawswrap img:last-child {
	animation-delay: 4s;
}

@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}


/* SP */
@media only screen and (max-width:959px){

/*---------------Firstview-------------------*/
    
.wrapper{
        width: 100%;
        height: auto; 
        background-color: #18171D;
    overflow:hidden;
    }
    
.firstview{
    width: 100vw;
        min-height: 100vh;
        position: relative;
        background-image: url("../images/bone_back.svg");
        background-size: 35vw 14vh;
        }

header{
        position: absolute;
        left: 5%;
        width: 95%;
        top: 2%;
        display: flex;
        align-items: center;
        justify-content: space-between;}
    
    
     .mainlogo{
        display: flex;
        align-items: center;}
    
    .mainlogo img{
        width: 5vh;
        
    }
    
    .logoname{
        font-family: "Marker Felt";
        color: white;
        font-size:5vw;
        padding-left: 10px;
        letter-spacing: 0.2rem;
    }
    
    .line span{position: absolute;
        background-color: white;
        transform: translate(-50%);
        padding: 1px;
        left: 50%;
        width: 30px;
        margin-top: 3%;
    }
    
    .main_nav ul li:last-child{
        padding-top: 5%;
    }
    
    .main_text{
        width: 90%;
        color: white;
        position: absolute;
        top: 35%;
        left: 5%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
    .main_text h1{
        font-family: "Marker Felt";
        letter-spacing: 0.3rem;
        font-size: 8vw;
        font-weight: 100;
        word-wrap: break-word;
        line-height: 1.5;
        text-align: center;
        margin-top: 8%;
    }
    
    .main_text h2{
        font-family: "Nunito";
        letter-spacing: 0.1em;
        font-size: 3vw;
        font-weight: 500;
        line-height: 1.4;
        margin-top: 5%;
        width: 100%;
        text-align: center;
    }
     .main_text .pp_btn{
        background: url("../images/pawpaper1.svg") center center / 20vh no-repeat;
        width: 40vw;
        height: 12vh;
        transition: all 0.8s ease;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin-top: 0;
    }

    .sns_logos{
       display:none;
    }
    
    .sns_logos img{
	    width: 2vw;
	    height: 2vh;
	    margin: 5px;
    }
    
    .main_imgs .coin1{
     display: none;
    }
    
     .main_imgs .coin2{
         display: none;
    }
    
    
     .main_imgs .coin3{
       display: none;
    }
    
    .main_imgs .coin_sp{
        width: 17vh;
        position: absolute;
        top: 18%;
        left: 33%;
        animation: float 5s ease-in-out infinite;
        opacity: 0;
        
    }
    
     .main_imgs .paws{
        width: 65vh;
        position: absolute;
        right:0%;
        bottom: 8%;
        opacity: 0.5;
        display: none;
    }
    
    
    .main_imgs::before{
	content: "";
	width: 100vw;
    height: 50vh;
	background: radial-gradient(rgba(242,181,120,.2), transparent 70%);
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 0;
}
    
     .pawswrap .paw1{
        position: absolute;
        width: 5vh;
        right: 1%;
        bottom: 2%;
        animation: appear 1s ease-in-out ;  
         transform: rotate(-10deg);
    }
    
    
    .pawswrap .paw2{
        position: absolute;
        width: 5vh;
        right: 10%;
        bottom: 12%;
        animation: appear 2s ease-in-out;
        transform: rotate(-15deg);
    }
    
    .pawswrap .paw3{
        position: absolute;
        width: 5vh;
        right: 30%;
        bottom: 5%;
        animation: appear 3s ease-in-out ; 
        transform: rotate(-15deg);
    }
    
    .pawswrap .paw4{
        position: absolute;
        width: 5vh;
        right: 35%;
        bottom: 15%;
        animation: appear 4s ease-in-out ;  
        transform: rotate(-15deg);
    }
    
    .pawswrap .paw5{
        position: absolute;
        width: 5vh;
        right:55%;
        bottom: 9%;
        animation: appear 5s ease-in-out ;
        transform: rotate(-15deg);
    }
    
    .pawswrap .paw6{
        position: absolute;
        width: 5vh;
        right: 60%;
        bottom: 18%;
        animation: appear 6s ease-in-out;
        transform: rotate(-15deg);
    }
    
    .pawswrap .paw7{
        position: absolute;
        width: 5vh;
        left: 10%;
        bottom: 14%;
        animation: appear 6s ease-in-out;
        transform: rotate(-15deg);
    }
    
    .pawswrap .paw8{
        display: none;
    }
    
    .to_top{
         display: none;
    }
    
    .hamburger {
	width: 42px;
	height: 42px;
	position: fixed;
	right: 2%;
	top: 1.5%;
	z-index: 200;
}
.hamburger span {
	display: block;
	width: 30px;
	height: 2px;
	background-color: white;
	position: absolute;
	transition: all .3s ease;
	left: 50%;
	transform: translate(-50%, -50%);
}
.hamburger span:first-child { top: 28%; }
.hamburger span:nth-child(2) { top: 50%; }
.hamburger.close span { width: 30px;}
.hamburger.close span:first-child { top: 50%; transform: translate(-50%, 0) rotate(40deg);}
.hamburger.close span:nth-child(2)  { top: 50%; transform: translate(-50%, 0) rotate(-40deg); }


/*---------drawer---------*/
    
.drawer {
	background-color: #18171D;
	position: fixed;
	left: 0;
	top: -100%;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 100px 0 30px;
	overflow:hidden;
	transition: all 0.3s ease;
	z-index: 100;
    overscroll-behavior:none;
}
.drawer.show { top: 0; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;}
.drawer ul.main_nav li { margin-top: 8%; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;}
    
.drawer ul.main_nav li a {
	display: block;
	text-align: left;
	color: white;
	text-decoration: none;
	font-weight: 400;
	font-style: normal;
	font-size: 150%;
	letter-spacing: .2em;
    font-family: 'Marker Felt';
}
    
    .drawer ul.main_nav li:last-child{
        justify-content: center;
    } 
    
    .drawer ul.main_nav{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    
 
.drawer ul.main_nav li:last-child{
        margin-top: 20%;
    text-align: center;
    }
    
    .drawer_logos{
        align-items: center;
        justify-content: center;
        width: 100%;
        display: flex;
        height: 30%;
    }
    
    .drawer_logos img{
        width: 4vh;
        height: 3vh;
        padding: 5% 3%;    
    }
    
    .drawer_bone{
        width: 4vh;
        height: 4vh;
        padding-right: 2%;
    }
    
    
    
     /*---------------About Us-------------------*/
    
    
    .about_us{
        background-color: #1F1E28;
        min-height: 100vh;
        width: auto;
    }
    
    .about_us_cont{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        flex-direction: column;
    }
    
    .subtitles{
        font-family: "Marker Felt";
        color: white;
        font-size: 9vw;
        padding-left: 10px;
        letter-spacing: 0.2rem;
        padding-top: 10%;
        text-align: center;
        font-weight: 100;
        position: relative;
        z-index: 1;
    }
    
    
    .subtitles.about_us_tit::before{
    content: "";
	width: 8vw;
    height: 8vw;
	background: url("../images/paw.svg") center center / cover no-repeat;
	position: absolute;
	top: 65%;
	left: 34%;
    z-index: -1;
    transform: rotate(-45deg);
    }
    
    .subtitles img{
        width: 4vw;
        height: auto;
        position: absolute;
        
    }
    
    .about_img img{
        width: 30vh;
		
    }
    
    .about_txt{
        color: white;
        font-family: "Nunito";
        width: 80%;
        line-height: 1.8;
        font-size:4vw;
        padding-left: 3%;
        text-align: justify;
        position: relative;
        padding: 5%  0 100px 0;
    }
    
    .about_text_img{
        width: 20vh;
        position: absolute;
        top: auto;
        bottom: 0px;
        right: 5%;
        opacity: 0.8;
    }
    
    

     /*---------------Features-------------------*/
    
    
    .features{
        min-height: 100vh;
        width: auto;
        background-image: url("../images/bone_back.svg");
        background-size: 35vw 14vh;
    }
    
    
    
    .subtitles.features_tit::before{
    content: "";
	width: 8vw;
    height: 8vw;
	background: url("../images/paw.svg") center center / cover no-repeat;
	position: absolute;
	top: 70%;
	left: 65%;
    z-index: -1;
    transform: rotate(45deg);
    }
    
    
    .features_wrap{
        align-items: center;
        display: flex;
        margin-top: 15%;
        justify-content: space-around;
        flex-direction: column;
    }
    
    .features_element{
        width: 80%;
        text-align: center;
        color: white;
        background-color: #1F1E28;
        border-radius: 40px;
        /*height: 70vh;*/
        position: relative;
        margin-bottom: 15%;
    }
    
    .feature_paw{
        flex: 1;
        width: 6vh;
        position: absolute;
        left: 50%;
        top: -30px;
        transform: translate(-50%);
    }
    
    .feat_tit{
        font-family: "Marker Felt";
        padding: 10% 0 10% 0;
        font-size: 6vw;
        font-weight: 100;
        letter-spacing: 0.1em;
    }
    
    .feat_cont{
        padding: 0 10%;
        text-align: justify;
        line-height:2;
        font-family: "nunito";
        font-weight: 100;
        font-size: 4vw;
        padding-bottom: 5%;
    }
    
    
    
 /*---------------Quick Guide-------------------*/
    
    
    
    .quick_guide{
        min-height: 100vh;
        width: auto;
         background-color: #1F1E28;
    }
    
    
     .subtitles.quickguide_tit::before{
    content: "";
		width: 8vw;
    height: 8vw;
	background: url("../images/paw.svg") center center / cover no-repeat;
	position: absolute;
	top: 68%;
	left: 23%;
    z-index: -1;
    transform: rotate(-45deg);
    }
    
    .qg_wrap{
        margin-top: 5%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

    }
    
    .qg_element{
        width: 90vw;
        margin-top: 3%;
        display: flex;
        justify-content: center;
        margin: 7% 0;
    }
    
    .qg_element .qg_img1{
        width: 3vh;
        margin-right: 10%;
    }
    
       .qg_element .qg_img{
        width: 6vh;
        margin-right: 5%;
    }
    
    
    .qg_cont{
        width: 70%;
        line-height: 1.5;
    }
    
    .qg_cont h1{
        color: white;
        font-family: "Marker Felt";
        font-size: 6vw;
        font-weight: 100;
        letter-spacing: 0.1em;
        margin: 2% 0;
    }
    
    .qg_cont p{
        font-size: 4vw;
        color: white;
        font-family: "nunito";
        font-weight: 100;
        line-height: 1.5;
        text-align: justify;
    }
    
    
     /*---------------How to buy-------------------*/
    
    
    .how_to_buy{
        padding-bottom: 5%;
        width: auto;
        background-image: url("../images/bone_back.svg");
        background-size: 35vw 14vh;
        position: relative;
        min-height:125vh;
    }

    .subtitles.howtobuy_tit{
        margin-bottom: 5%;
    }
    .subtitles.howtobuy_tit::before{
    content: "";
	width: 8vw;
    height: 8vw;
	background: url("../images/paw.svg") center center / cover no-repeat;
	position: absolute;
	top: 70%;
	left: 70%;
    z-index: -1;
    transform: rotate(45deg);
    }
    
       .how_to_buy_cont{
        display: flex;
        justify-content: none;
        align-items: center;
        padding-top: 0%;
        flex-direction: column;

    }
    
    .how_to_buy_img img{
        width: 40vh;
        margin-left: -5%;
        padding-top: 3%;

    }
    
    .how_to_buy_txt{
        color: white;
        font-family: "Nunito";
        line-height: 2;
        font-size: 4vw;
        padding-right: 0%;
        text-align: justify;
        order: 2;
        width: 80%;
        align-items: center;
        margin-top: 10%;
        z-index: 11;
      
    }
    
    
    .how_to_buy_txt .buy_btn{
      margin-top: 8%;
        background: url("../images/buy_btn1.svg") center center / 20vh  no-repeat;
        width: 100%;
        height: 8vh;
        transition: all 0.8s ease;
        align-self: center;
        box-sizing: border-box;
        margin-bottom: 0%;
        z-index: 200;
        text-align: center;
    }
    
    .how_to_buy_txt .buy_btn:hover{
  
    }
    
    .how_to_buy_txt .buy_btn img{
all: unset;
    }
    
    
	.buying_platform{
		width: 100vw;
		min-height: 60vh;
		background-color: transparent;
		z-index: 0;
        justify-content: space-between;
		transition: all 1s ease-in;
        display: flex;
        flex-direction: column;
        margin-top: 0%;
        align-items: center;
        opacity: 0;    
        position: absolute;
	}
	
	.swap{
        width: 90%;
		min-height: 60vh;
		 box-shadow: 2px 2px 5px 5px rgba(15,15,15,1.00); 
         background-color: #18171D;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;
         position: relative;
        
	}
	
    .swaptxt{
        text-align: center;
        color: white;
    }
    
    .swap_tit{
        font-family: "nunito";
        font-size: 7vw;
        font-weight: 600;
        margin-top: 1%;
        color: white;
        
        
    }
    
    .swap_expl{
        font-family: 'nunito';
        margin-top: 1rem;
        font-size: 4vw;
    }
    
    .swap_from, .swap_to{
        color: white;
        font-size: 4vw;
        font-weight: 400;
    }
	.exchange_token{
		width: 90%;
		height: 40vh;
		background-color: rgba(122,122,122,.2);
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 20px;
        align-items: center;
	}
	
    .changeto,.changefrom{
        width: 100%;
        display: flex;
        align-items: center;flex-direction: column;
    }
	
    .changeto_tit{
        display: flex;
        width: 90%;
        justify-content: space-between;
        padding: 3% 0;
    }
    
    .Xchange{
        padding: 4%;
        border-radius: 10px;
        border: none;
        width: 90%;
        box-sizing: border-box;
    }
    
    .Xch_btn{
        padding: 3%;
        margin-bottom: 3%;
        width: 60%;
        border-radius: 20px;
        border: none;
        background-color: #F2B578;
        color: white;
        font-size: 4vw;
        transition: all .4s ease;
    }
    
    .Xch_btn:hover{
        background-color: #DF6F2A; 
    }
    
    
    input[type=text], select, textarea {
  width: 35vw;
  height: auto;
  padding: 1%; 
  border: none;
  box-sizing: border-box; 
  resize: vertical;
  font-family: 'poppins';
  word-wrap: break-word;
  border-radius: 10px;
  background-color: rgba(255,255,255,.1);
        color: white;
}

[contenteditable] {
  outline: 1px solid transparent;
	transition: all 0.4s ease;
}

[contenteditable]:hover{
  outline: 1px solid #F2B578;
}

    input[inputmode=decimal]{
        font-size: 5vw;
        text-align: center;
        background-color: rgba(255,255,255,.05);color: #F2B578;
        padding: 3%;
    }
    .connect_wallet{
        height: 50vh;
        background-color: transparent;
        width: 90%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 5% 0;
     
    }
    
    .wallets{
        width: 100%;
         background-color: #18171D;
        border-radius: 20px;
        height: 75%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        box-shadow: 2px 2px 5px 5px rgba(15,15,15,1.00);
    }
    
    .wallets button{
        padding-bottom: 3%;
    }
    
    .wallets button:last-child{
        margin-bottom: 5%;
    }
    
    
    .wallets h1{
        font-family: "nunito";
        font-size: 7vw;
        font-weight: 600;
        margin-top: 2%;
        color: white;
        margin: 1rem 0;
    }
     
      .wallets .block {
  width: 80%;
  border: none;
  background-color: rgba(255,255,255,.1);
  padding: 3% 5%;
  font-size: 4vw;
  cursor: pointer;
  text-align: left;
  transition: all 1s ease;
  border-radius: 10px;
    display: flex;
    justify-content: space-between;
          color: white;
          font-family: 'nunito';
}
    
    .block:hover {
  background-color: #F2B578;
  color: black;
}

    .wallets button img{
        width: 3vh;
        height: 3vh;
       
    
    }
    
    
    .connect_expl{
        width: 100%;
        height: 20%;
        border-radius: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-shadow: 2px 2px 5px 5px rgba(15,15,15,1.00);
         background-color: #18171D;
    }
    
    
    .connect_expl h1{
        font-family: 'nunito';
        font-size: 7vw;
        font-weight: 400;
        color: white;
        margin: 3% 0;
        
    }
    
    .connect_expl p{
        font-family: 'nunito';
        font-size: 4vw;
        font-weight: 400;
        color: #F2B578;
        margin-bottom: 3%;
        
    }
    
    .connect_expl p a{
        text-decoration: none;
        color: white;
        transition: all 0.4s ease;
    }
    
    .connect_expl p a:hover{
        color: #F2B578;
    }
    
    
    .closebtn{
    width: 41px;
	height: 41px;
	right: 15%;
	top: 2%;
	z-index:100;
    position: absolute;
    color: #F2B578;
    font-weight: 600;
        
    }
    
    .closebtn span:first-child { top: 50%; transform: translate(-50%, 0) rotate(40deg); }
    .closebtn span:last-child {  top: 50%; transform: translate(-50%, 0) rotate(-40deg); }
    
    
    .closebtn span {
	display: block;
	width: 30px;
	height: 2px;
	background-color: #F2B578;
	position: absolute;
	transition: all .4s ease;
	transform: translate(-50%, -50%);
        top: 0;
}

    
    
    /*---------------Exchage on-------------------*/
    
    
    
    .exchange{
        min-height: 35vh;
        width: auto;
        background-color: #1F1E28;
    }
    
    
       .subtitles.exchangeon_tit::before{
    content: "";
	width: 8vw;
    height: 8vw;
	background: url("../images/paw.svg") center center / cover no-repeat;
	position: absolute;
	top: 80%;
	left: 48%;
    z-index: -1;
    transform: rotate(-45deg);
    }
    
    
    
    .exchangeon_tit{
        margin-bottom: 3%;
    }
    
    .platforms{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    
    .platforms img{
        width: 15vh;
        margin: 5%;
    } 
    
    
    
       /*---------------Contact us-------------------*/  
    
    
.contact_us{
        width: 100vw;
        height: auto;
    background-image: url("../images/bone_back.svg");
        background-size: 35vw 14vh;
    }
    
.subtitles.contactus_tit::before{
    content: "";
	width: 8vw;
    height: 8vw;
	background: url("../images/paw.svg") center center / cover no-repeat;
	position: absolute;
	top: 70%;
	left: 70%;
    z-index: -1;
    transform: rotate(45deg);
    }
    
    
.contactus_tit{
        margin: 5% 0;
    }    
.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}

.contact_wrapper{
	width: 90%;
	align-items: center;
}

.nameemail{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    }
    
input[type=text], textarea {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 3%; 
    border: none;
    box-sizing: border-box; 
    resize: vertical;
    font-family: 'nunito'; 
    word-wrap: break-word;
	margin:3% 0;
    border-radius: 5px;
}

input[name="name"]{
	width: 100%;
} 
    
    input[name="email"]{
	width: 100%;
}  
    
[contenteditable] {
  outline: 1px solid transparent;
	transition: all 0.4s ease;
}

[contenteditable]:hover{
  outline: 1px solid #F2B578;
}


 ::placeholder { 
  color: #9F6642;
  opacity: 1; 
     letter-spacing: 0.1em;
}
    
.send_btn{
    margin-top: 0%;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
    
    input[type=image]{
        width: 15vh;
        height:auto;
    }
    
    /*---------------Footer-------------------*/  
    
    footer{
        margin-top:5%;
        width: 100%;
        height: auto;
    }
    
    .footerwrap{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer_nav{
        width: 90%;

    }
    
    .footer_nav ul{
        display: flex;
        width: 100%;
    }
    .footer_nav ul li{
          flex:1;
    }
    
    .footer_nav ul li a{
        text-decoration: none;
        color:white;
        font-size: 3vw;
        font-family: 'nunito';
        
    }
    .footer_logos{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .footer_logos img{
        width: 3vh;
        height: 3vh;
        padding: 1%;
        margin: 5% 0;
    }
    
    .footer_mid_cont{
        margin-top: 3%;
        width: 90%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .logo_footer{
        align-items: center;
        justify-content: center;
        padding: 5% 0;
    }
    
    .copyright{
        color: white;
        margin: 3% 0;
        font-family: "Marker Felt";
        font-weight: 100;
        letter-spacing: 0.2em;
        padding-bottom: 5%;
    }
    
    .sub_cont{
        margin-top: 5%;
        width: 100%;
        color: white;
    }
    
input[name="footer_sub"]{
    padding: 5%;
	width: 100%;
    height:3vh;
} 
    
    .footer_sub_tit{
        font-size: 4vw;
        font-family: "Marker Felt";
        letter-spacing: 0.2em;
        font-weight: 100;
    }
    
    .footer_sub_txt{
        width: 100%;
        text-align: justify;
        line-height: 1.3;
        font-size: 3vw;
    }
    
    .companyinfo{
        color: white;
        line-height: 1.5;
        font-size: 3vw;
        font-family: 'nunito';display: none;
    }
    
    .footer_mid_cont .logo_footer{
        display: flex;
        flex-direction:column;
    }
    
    .logo_foot_img{
        display: flex;
        align-items: center;
    }
    
    .spfoot{display: none;}
    
    .footer_logos{
        display: flex;
        justify-content: space-around;
        width: 50%;
        padding: 5% 0;
    }


}
